/* styles.css */

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
}

.login-container1 {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-top: 5%;
}

.login-container2 {
  width: 50%;
  height: 100%;
  padding-top: 5%;
}

.login-form {
  text-align: center;
  padding: 10% 10% 20% 10%;
  background: #87CEEB;
  border-radius: 12px;
}

h1 {
  text-align: center;
}

h2 {
}

input {
  padding: 15px;
  font-size: 15px;
  margin: 14px;
  border-style: solid 1px;
  border-color: white;
  border-radius: 12px;
}

button {
  padding: 10px 30px;
  background: rgb(58, 120, 245);
  color: white;
  border-style: none;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  transform: scale(1.1); /* Scale button up on hover */
  background: rgb(45, 90, 180); /* Change background color on hover */
}

.IMAGE {
  max-width: 60vh;
  max-height: 100vh;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .login-page{
    align-items: center;
    justify-content: center;
    padding-top: 5%;
  }
  .login-container1 {
    width: 50%;
    align-items: center;
    justify-content: center;
  }
.login-container2{
  display: none;  /* Hide IMAGE on tablet */

}
  .login-form {
    padding: 10%;
  }

  input {
    padding: 12px;
    font-size: 14px;
  }

  button {
    padding: 8px 25px;
  }


}

@media (max-width: 768px) {
  .login-page{
    align-items: center;
    justify-content: center;
    padding-top: 5%;
  }
  .login-container1 {
    width: 70%;
    align-items: center;
    justify-content: center;
  }
.login-container2{
  display: none;  /* Hide IMAGE on tablet */

}
  .login-form {
    padding: 10%;
  }

  input {
    padding: 12px;
    font-size: 14px;
  }

  button {
    padding: 8px 25px;
  }


}

@media (max-width: 480px) {
  .login-page{
    align-items: center;
    justify-content: center;
    padding-top: 10%;
  }
  .login-container1 {
    width: 50%;
    align-items: center;
    justify-content: center;
  }
.login-container2{
  display: none;  /* Hide IMAGE on tablet */

}
  .login-form {
    padding: 10%;
  }

  input {
    padding: 12px;
    font-size: 14px;
  }

  button {
    padding: 8px 25px;
  }


}