/* styles.css */


.login-page{

  max-width: 100%;
}
.login-container1{
  background: linear-gradient(to bottom, #87CEEB, #ffffff);
width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.login-container2{
  background-image: url(https://images.pexels.com/photos/4167541/pexels-photo-4167541.jpeg?auto=compress&cs=tinysrgb&w=600);
width: 50%;
height: 100%;
}
.login-form{
  align-items: center;
  justify-content: center;
  padding: 10% ; 
}
h1{
  text-align: center;
}
input{
  padding: 15px;
  font-size: 15px;
  margin:10px;
  border-style: solid 1px  ;
  border-color:white;
  border-radius:  12px ;
}
button{
  padding: 10px 30px 10px 30px;
  background: rgb(58, 120, 245);
  color:white;
  border-style: none ;
  border-radius:  12px ;
}
