.create-user-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .create-user-form {
    display: flex;
    flex-direction: column;
  }
  
  .create-user-form .MuiTextField-root {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 20px;
  }
  