/* General styling for the nurse dashboard */
.nurse-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f6f8;
  font-family: "Roboto", sans-serif;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #2c3e50;
}

/* Main content styling */
.main-content {
  margin-top: 5%;
  flex-grow: 2;
  padding: 50px;
  background-color: #f4f7fa;
  border-radius: 8px;
  margin-left: 240px; /* Ensure there’s space for the sidebar */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Top bar */
.top-bar {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Styling for the dashboard overview tiles */
.dashboard-tiles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  background-color: #ffffff;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
  cursor: pointer;
}

.tile:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* Responsive styling */
@media (max-width: 768px) {
  .tile {
    margin-bottom: 20px;
  }

  .main-content {
    padding: 15px;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .tile {
    margin-bottom: 20px;
  }

  .main-content {
    padding: 10px;
  }
}

/* Styling for appointments section */
.nurse-appointments {
  padding: 20px;
  background-color: #f9f9f9;
}

table {
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 10px;
}

th {
  background-color: #3498db;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #ecf0f1;
}

tbody tr:hover {
  background-color: #dfe6e9;
  cursor: pointer;
}

/* Circular progress */
.circular-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
